@font-face {
    font-family: Suisse;
    font-weight: light;
    src: url("/fonts/SuisseIntl-Light.otf") format("opentype");
  }

* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
    font-family: 'Suisse';
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index:-1;
}

h1 {
    color: #ffffff;
    margin: 10px;
}

.audio{
    position: absolute;
    bottom: 0;
    width: 100%;
}
